<?php
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$isEnabled = $helper->isEnabled();
if (!$isEnabled){ return; }
$book = $this->getCodeBookData();
$mediaUrl = $helper->getMediaUrl();
$baseUrl = $helper->getBaseUrl();
?>
<div class="page-main">
    <div class="flipBookCode">
        <?php
        $unique_key = $helper->getUniqueSliderKey();
        $flipbook_content_id = "cwsflipbook_" . $unique_key;
        $isDateCondition = $helper->isDateConditionCheck($book);
        $status = $book['status'];
        $mode_of_upload = $book['mode_of_upload'];
        if ($mode_of_upload == '2') {
            $uploadImages = $helper->getUploadedImages($book);
            if (count($uploadImages) == 0) {
                return;
            }
        }
        if ($isDateCondition):
            if ($status): ?>
                <div class="bookcontainerCode " id="<?php echo $flipbook_content_id; ?>">
                    <div class="book-inner">
                        <!-- Book Grid -->
                        <div class="row book-grid">
                            <!-- Book Image -->
                            <div class="book-image">
                                <div class="image">
                                    <a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>">
                                        <img class="tr_td_img" src="<?php echo $helper->getThumbnailImage($book); ?>" alt="<?php echo $book['book_title']; ?>" width="350" />
                                    </a>
                                </div>
                            </div>
                            <!-- End Book Image -->
                            <!-- Book Details -->
                            <div class="book-details">
                                <!-- Book Title -->
                                <h2 class="bookp"><a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>"><?php echo __($book['book_title']); ?></a></h2>
                                <!-- End Book Title -->					
                            </div>
                            <!-- End Book Details -->
                        </div>
                        <!-- End Book Grid -->
                    </div>
                </div>			
                <!-- End Book container -->
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>