<?php
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$isEnabled = $helper->isEnabled();
if (!$isEnabled){return;}
$catId = $block->getCurrentCategory();
$booksData = $block->getAllCatBooks($catId);
$mediaUrl = $helper->getMediaUrl();
$baseUrl = $helper->getBaseUrl();
if(!empty($booksData)){ ?>
<div class="flipbookCategory">
<?php foreach ($booksData as $key => $book) {
    $unique_key = $helper->getUniqueSliderKey();
    $flipbook_content_id = "cwsflipbook_" . $unique_key;
    $isDateCondition = $helper->isDateConditionCheck($book);
    $status = $book['status'];
    $mode_of_upload = $book['mode_of_upload'];

    if ($mode_of_upload == '2') {
        $uploadImages = $helper->getUploadedImages($book);
        if (count($uploadImages) == 0) {
            return;
        }
    }
    if ($isDateCondition):
        if ($status): ?>
            <div class="bookcontainer" id="<?php echo $flipbook_content_id; ?>">
                <div class="book-inner">
                    <div class="row book-grid">
                        <div class="book-image">
                            <div class="image">
								<a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>">
									<img class="tr_td_img" src="<?php echo $helper->getThumbnailImage($book); ?>" alt="<?php echo $book['book_title']; ?>" width="350" />
								</a>
                            </div>
                        </div>
                        <div class="book-details">
                            <h2 class="bookp"><a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>"><?php echo __($book['book_title']); ?></a></h2>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php } ?>
</div>
<?php } ?>
