<?php
$bookId = $this->getRequest()->getParam('bookid');
$book = $block->getBookData($bookId);
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$mediaUrl = $helper->getMediaUrl();
$baseUrl = $helper->getBaseUrl();
$isEnabled = $helper->isEnabled();

if (!$isEnabled){ return; }
if(empty($book)){ ?>
	<h3><?php echo __("Sorry, No book is available.") ?></h3>
<?php return; } ?>

<?php //foreach ($booksData as $key => $book) 
{
	$unique_key = $helper->getUniqueSliderKey();
	$flipbook_content_id = "cwsflipbook_" . $unique_key;
	$isDateCondition = $helper->isDateConditionCheck($book);
    $status = $book['status'];
    $add_to_product = $book['add_product'];
    $add_product_pos = $book['position_on_product_page'];
    $mode_of_upload = $book['mode_of_upload'];

    if ($mode_of_upload == '2') {
        $uploadImages = $helper->getUploadedImages($book);
        if (count($uploadImages) == 0) {
            return;
        }
    }
?>
<div class="page-title-wrapper flipBookViewTitle">
    <h1 class="page-title"><span class="base"><?php echo __($book['book_title']) ?></span></h1>
    <?php if(isset($_SERVER["HTTP_REFERER"])){ ?>
    <a href="<?php echo $_SERVER["HTTP_REFERER"] ?>" class="action subscribe primary backToPageBtn"><?php echo __("Back to Previous Page"); ?></a>
    <?php } ?>
</div>

<?php if($book['description'] != ""){ ?>
	<div class="mbfbdes"><?php echo __($book['description']); ?></div>
<?php } ?>
<?php if($book['author_name'] != ""){ ?>
	<div class="mbfbauth"><b><?php echo __("Author Name: "); ?></b><?php echo __($book['author_name']); ?></div>
<?php } ?>
<div class="mbfbcontainer" id="mbfbcontainer"></div>

<?php if ($mode_of_upload == '1'){ ?>
<script type="text/javascript">
require([
	'jquery',
	'Magebees_Flipbook/js/plugin/html2canvas.min',
	'three',
	'pdfjs-dist/build/pdf',
	'pdfjs-dist/build/pdf.worker',
	'jquery/ui',
	'flipbook'
], function ($, html2canvas, three, pdfjs, pdfworker) {
	'use strict'
	  $('#mbfbcontainer').FlipBook({
         pdf: "<?php echo $helper->getPdf($book); ?>",
         propertiesCallback: function(props) {
           props.page.depth /= 2.5;
           props.cover.padding = 0.002;
           return props;
         },
         template: {
           html: '<?php echo $this->getViewFileUrl('Magebees_Flipbook::templates/default-book-view.html'); ?>',
           styles: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::css/short-black-book-view.css'); ?>'],
           links: [
             {
               rel: 'stylesheet',
               href: '<?php echo $this->getViewFileUrl('Magebees_Flipbook::css/font-awesome.min.css'); ?>'
             }
           ],
		   script: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::js/plugin/default-book-view.js'); ?>'],
		   sounds: {
				startFlip: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::sounds/start-flip.mp3'); ?>'],
				endFlip: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::sounds/end-flip.mp3'); ?>']
			}
         },
		 controlsProps: {
			downloadURL: '<?php echo $helper->getPdf($book); ?>',
			actions: {
				cmdToc: { enabled: <?php echo $book['show_toc']; ?> },
				cmdThumbnails: { enabled: <?php echo $book['show_thumbnail']; ?> },
				cmdZoomIn: { enabled: <?php echo $book['show_zoom']; ?> },
				cmdZoomOut: { enabled: <?php echo $book['show_zoom']; ?> },
				cmdDefaultZoom: { enabled: <?php echo $book['show_zoom']; ?> },
				cmdSave: { enabled: <?php echo $book['show_download']; ?> },
				cmdFullScreen: { enabled: <?php echo $book['show_fullscreen']; ?> },
				cmdSounds: { enabled: <?php echo $book['show_toggle_sound']; ?> },
				cmdSinglePage: { enabled: 0 },
				cmdStats: { enabled: 0 },
				cmdSmartPan: { enabled: 0 },
				cmdLightingUp: { enabled: 0 },
				cmdLightingDown: { enabled: 0 },
				cmdBackward: { code: 37 },
				cmdForward: { code: 39 },
				cmdPrint: { enabled: <?php echo $book['show_print']; ?> },
				cmdFastBackward:{ enabled: 1, code: 36 },
				cmdFastForward:{ enabled: 1, code: 35 }
			},
			loadingAnimation: { book: true },
		}
       });
});
</script>
<?php } ?>
<?php if ($mode_of_upload == '2'){ ?>
<script type="text/javascript">
	require([
		'jquery',
		'Magebees_Flipbook/js/plugin/html2canvas.min',
		'three',
		'pdfjs-dist/build/pdf',
		'pdfjs-dist/build/pdf.worker',
		'jquery/ui',
		'flipbook'
	], function ($, html2canvas, three, pdfjs, pdfworker) {
		'use strict'
		
		function getBookImages(n) {
			var imgdata = <?php echo json_encode($uploadImages); ?>;
			var src = '<?php echo $mediaUrl; ?>' + imgdata[n].image;
			var serch = src.includes("no-img.jpg");
			if (serch){
				var src = imgdata[n].image;
			}
			if (imgdata.length - 1 == n){
				var src = imgdata[n].image;
				var serch = src.includes("no-img.jpg");
				if (!serch) {
					var src = '<?php echo $mediaUrl; ?>' + imgdata[n].image;
				}
			}
			return {
				type: 'image',
				src: src,
				interactive: false
			};
		}

      $('#mbfbcontainer').FlipBook({
        pageCallback: getBookImages,
        pages: <?php echo count($uploadImages); ?>,
        propertiesCallback: function (props) {
		props.cssLayersLoader = function (n, clb) {// n - page number
			var imgdata = <?php echo json_encode($uploadImages); ?>;
			var notes = imgdata[n].notes;
			if(notes)
			{
				clb([{
					css: '.hd { margin:0;background-color:rgba(255,255,255,0.77);font-size:22px;text-transform:capitalize;font-family:Arial;padding:10px;position:absolute;top:-1px;left:-1px; }',
					html: '<h1 class="hd">' + notes + '</h1>',
					js: function (jContainer, props) {

						return {
							hide: function () {},
							hidden: function () {},
							show: function () {},
							shown: function () {},
							dispose: function () {}
						};
					}
				}]);
			} 
		};
		props.cover.color = 0x000000;
		return props;
		},
        template: {
          html: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::templates/default-book-view.html'); ?>'],
          styles: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::css/short-black-book-view.css'); ?>'],
          links: [{
				rel: 'stylesheet',
				href: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::css/font-awesome.min.css'); ?>']
			}],
          script: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::js/plugin/default-book-view.js'); ?>'],
          sounds: {
				startFlip: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::sounds/start-flip.mp3'); ?>'],
				endFlip: ['<?php echo $this->getViewFileUrl('Magebees_Flipbook::sounds/end-flip.mp3'); ?>']
			}
        }
      });
		
	});
</script>
<?php } ?>

<?php }//For each loop end  ?>
<div class="socialBody">
	<div class="socialContainer">
		<div class="popupCloseButton">&times;</div>
		<div class="sharehead">
			<span id="sharebtntab"><i class="fa fa-share-alt" title="Share"></i><?php echo __("Share"); ?></span>
		</div>
		<section id="sharetop" class="sharetop">
			<div id="qrContent"></div>
			<div class="url-section">
				<textarea role="textbox" data-modal-tabindex="first-init" id="shareurlcont" dir="ltr" readonly="readonly" class="urlcontainer"><?php echo $baseUrl.'flipbook/index/view/bookid/'.$bookId ?></textarea>
				<button id="copybtn" data-clipboard-target="#share-url-container" aria-label="Copy" class="copybtn"><?php echo __("Copy"); ?></button>
			</div>
		</section>
		<section id="sharebottom" class="sharebottom">
			<span id="popup-description" class="text-block"><?php echo __("You can easily share this flipbook to social networks. Just click the appropriate button below."); ?></span>
				<div class="a2a_kit a2a_kit_size_24 a2a_default_style" data-a2a-url="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>" data-a2a-title="Flipbook">
				<a class="a2a_button_whatsapp"></a>
				<a class="a2a_button_facebook"></a>
				<a class="a2a_button_twitter"></a>
				<a class="a2a_button_email"></a>
				<a class="a2a_button_linkedin"></a>
				<a class="a2a_button_telegram"></a>
				<a class="a2a_button_skype"></a>
				<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
				</div>
				<script async src="https://static.addtoany.com/menu/page.js"></script>
		</section>
	</div>
</div>
<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){
	window.openshare = function () {
		$('.socialBody').show();
	}
	$(document).ready(function() {
		$('.popupCloseButton').click(function(){
			$('.socialBody').hide();
		});
		$("#copybtn").click(function(){
			$("#shareurlcont").select();
			document.execCommand('copy');
		});
	});
});
var qrcode = new QRCode(document.getElementById("qrContent"), {
	text: "<?php echo $baseUrl.'flipbook/index/view/bookid/'.$bookId ?>",
	width: 130,
	height: 130,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
});
</script>