<?php
$booksData = $block->getAllBooks();
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$mediaUrl = $helper->getMediaUrl();
$baseUrl = $helper->getBaseUrl();
$isEnabled = $helper->isEnabled();
if (!$isEnabled)
    return;

$letter_count = '';
$view_type = $helper->getFlipbookViewType();
$letter_count = $helper->getFlipLetterCount();
$grid_col_class = '';
if($view_type =='grid'){
    $view_class = 'flipbook-grid-container';
    $grid_col = $helper->getGridCol();
    $_col_class = 'grid-view-'.$grid_col; 
}else{
    $view_class = 'flipbook-list-container';
    $list_v = $helper->getListView();
    if($list_v == 1){
        $_col_class = 'list-view-full';
    }else{
        $_col_class = 'list-view-half';
    }
}
$des_len = '';
?>
<div class="<?php echo $view_class; ?> <?php echo $_col_class; ?>">
<?php foreach ($booksData as $key => $book) { ?>
    <?php
    $unique_key = $helper->getUniqueSliderKey();
    $flipbook_content_id = "cwsflipbook_" . $unique_key;
    $isDateCondition = $helper->isDateConditionCheck($book);
    $status = $book['status'];
    $add_to_product = $book['add_product'];
    $add_product_pos = $book['position_on_product_page'];
    $mode_of_upload = $book['mode_of_upload'];

    if ($mode_of_upload == '2') {
        $uploadImages = $helper->getUploadedImages($book);
        if (count($uploadImages) == 0) {
            return;
        }
    }

    if ($isDateCondition):
        if ($status):
            ?>
            <div class="bookcontainer" id="<?php echo $flipbook_content_id; ?>">
                <div class="book-inner">
                    <!-- Book Grid -->
                    <div class="row book-grid">
                        <!-- Book Image -->
                        <div class="col-25 book-image">
                            <div class="image">
								<a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>">
									<img class="tr_td_img" src="<?php echo $helper->getThumbnailImage($book); ?>" alt="<?php echo $book['book_title']; ?>" width="350" />
								</a>
                            </div>
                        </div>
                        <!-- End Book Image -->
                        <!-- Book Details -->
                        <div class="col-75 book-details">
                            <!-- Book Title -->
                            <h2 class="bookp"><a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>"><?php echo __($book['book_title']); ?></a></h2>
                            <!-- End Book Title -->
                            <!-- Book Author -->
                            <p class="book-author">
                                <strong><?php echo __("Author"); ?>:</strong><span><?php echo __($book['author_name']); ?></span>
                            </p>
                            <!-- End Book Author -->
                            <!-- Book description -->
                            <?php
                            $des_len = strlen($book['description']);
                            $book['description'] = preg_replace('%<p(.*?)>|</p>%s','',$book['description']);
                            $description = (strlen($book['description']) > $letter_count) ? substr($book['description'], 0, $letter_count)."..." : $book['description'];
                            ?>
                            <div class="bookdec_half_<?php echo $flipbook_content_id; ?>">
                                <?php echo __($description); ?>
                            </div>
                            <div class="bookdec_full_<?php echo $flipbook_content_id; ?>" style="display: none;">
                                <?php echo __($book['description']); ?>   
                            </div>  

                            <?php if($des_len > $letter_count){ ?>
                            <div class="btn-container">
                                <button id="toggle_<?php echo $flipbook_content_id; ?>"><?php echo __("Read More"); ?> </button>
                            </div>
                            <?php } ?>
                            <!-- End Book Description -->							
                        </div>
                        <!-- End Book Details -->
                    </div>
                    <!-- End Book Grid -->
                </div>
            </div>			
            <!-- End Book container -->
        <?php endif; ?>
    <?php endif; ?>
<?php if($des_len > $letter_count){ ?>
<script type="text/javascript">
require(['jquery'], 
            function ($) {
           'use strict'
    $(document).ready(function() {
          var flipbook_id = "<?php echo $flipbook_content_id; ?>";
          $("#toggle_"+flipbook_id).click(function(event) {
            event.stopPropagation();
            var elem = $("#toggle_"+flipbook_id).text();
            if (elem == "Read More") {
              $("#toggle_"+flipbook_id).text("Read Less");
              $(".bookdec_half_"+flipbook_id).hide();
              $(".bookdec_full_"+flipbook_id).show();
            } else {
              $("#toggle_"+flipbook_id).text("Read More");
              $(".bookdec_half_"+flipbook_id).show();
              $(".bookdec_full_"+flipbook_id).hide();
            }
          });
        });
    });   
</script>
 <?php } ?>

<?php } ?>
</div>
<?php if(!count($booksData)) :?>
<div>
    <h3><?php echo __("No books to display"); ?>.</h3>
</div>
<?php endif; ?>
<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>