<div class="page-main">
<?php
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$isEnabled = $helper->isEnabled();
if (!$isEnabled){return;}
$booksData = $block->getAllCodeBooks();
$mediaUrl = $helper->getMediaUrl();
$baseUrl = $helper->getBaseUrl();
$grid_col_class = '';
$view_class = 'flipbook-grid-container';
$grid_col = $helper->getGridCol();
$_col_class = 'grid-view-'.$grid_col; 
?>
<div class="<?php echo $view_class; ?> <?php echo $_col_class; ?>">
<?php foreach ($booksData as $key => $book) { ?>
    <?php
    $unique_key = $helper->getUniqueSliderKey();
    $flipbook_content_id = "cwsflipbook_" . $unique_key;
    $isDateCondition = $helper->isDateConditionCheck($book);
    $status = $book['status'];
    $add_to_product = $book['add_product'];
    $add_product_pos = $book['position_on_product_page'];
    $mode_of_upload = $book['mode_of_upload'];

    if ($mode_of_upload == '2') {
        $uploadImages = $helper->getUploadedImages($book);
        if (count($uploadImages) == 0) {
            return;
        }
    }

    if ($isDateCondition):
        if ($status):
            ?>
            <div class="bookcontainer" id="<?php echo $flipbook_content_id; ?>">
                <div class="book-inner">
                    <!-- Book Grid -->
                    <div class="row book-grid">
                        <!-- Book Image -->
                        <div class="col-25 book-image">
                            <div class="image">
								<a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>">
									<img class="tr_td_img" src="<?php echo $helper->getThumbnailImage($book); ?>" alt="<?php echo $book['book_title']; ?>" width="350" />
								</a>
                            </div>
                        </div>
                        <!-- End Book Image -->
                        <!-- Book Details -->
                        <div class="col-75 book-details">
                            <!-- Book Title -->
                            <h2 class="bookp"><a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>"><?php echo __($book['book_title']); ?></a></h2>
                            <!-- End Book Title -->
                            <!-- Book Author -->
                            <p class="book-author">
                                <strong><?php echo __("Author"); ?>:</strong><span><?php echo __($book['author_name']); ?></span>
                            </p>
                            <!-- End Book Author -->							
                        </div>
                        <!-- End Book Details -->
                    </div>
                    <!-- End Book Grid -->
                </div>
            </div>			
            <!-- End Book container -->
        <?php endif; ?>
    <?php endif; ?>
<?php } ?>
</div>
<?php if(!count($booksData)) :?>
<div>
    <h3><?php echo __("No books to display"); ?>.</h3>
</div>
<?php endif; ?>
</div>