<?php
$bookId = $this->getRequest()->getParam('bookid');
$booksMetaData = $block->getBookMetaData($bookId);
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$isEnabled = $helper->isEnabled();
if (!$isEnabled){ return; }
if(!empty($booksMetaData)){ ?>
<?php if(isset($booksMetaData["meta_title"])){ ?>
<meta name="title" content="<?php echo $booksMetaData["meta_title"] ?>"/>
<?php } ?>
<?php if(isset($booksMetaData["meta_description"])){ ?>
<meta name="description" content="<?php echo $booksMetaData["meta_description"] ?>"/>
<?php } ?>
<?php if(isset($booksMetaData["meta_keywords"])){ ?>
<meta name="keywords" content="<?php echo $booksMetaData["meta_keywords"] ?>"/>
<?php } ?>

<?php } ?>