<?php
$product = $block->getCurrentProduct();
$product_id = $product->getId();
$productbooks = $block->getProductBook($product_id);
$booksData = $block->getBooksForProduct($productbooks);
$type = 2;
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$getCountsofbook = $helper->getCountsofbook($booksData, $type);
$mediaUrl = $helper->getMediaUrl();
$baseUrl = $helper->getBaseUrl();
$letter_count = '';
$letter_count = $helper->getLetterCount();
$isEnabled = $helper->isEnabled();
if (!$isEnabled)
    return;
?>
<?php if (count($getCountsofbook)) { ?>
    <div class="flipbooks-popup">
        <img id="getFlipbooksPopup" class="tr_td_img" src="<?php echo $this->getViewFileUrl('Magebees_Flipbook::images/mg-flipbook-plus.png'); ?>" width="100" />
    </div>
<?php } ?>
<?php if (count($getCountsofbook)) { ?>
<div style="display:none">
    <div class="enable-scroll" id="mgfb-popup">
        <?php foreach ($booksData as $key => $book) { ?>

            <?php
            $unique_key = $helper->getUniqueSliderKey();
            $flipbook_content_id = "cwsflipbook_" . $unique_key;
            $isDateCondition = $helper->isDateConditionCheck($book);
            $status = $book['status'];
            $add_to_product = $book['add_product'];
            $add_product_pos = explode(",",$book['position_on_product_page']);
			$mode_of_upload = $book['mode_of_upload'];

            if ($mode_of_upload == '2') {
                $uploadImages = $helper->getUploadedImages($book);
            }

            if ($isDateCondition):
                //if ($status && $add_to_product && ($add_product_pos == '2')):
				if ($status && $add_to_product && (in_array("2", $add_product_pos))):
                    ?>
                    <!-- Book container -->
                    <div class="bookcontainer" id="<?php echo $flipbook_content_id; ?>">
					<a href="<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>">
                        <div class="book-inner">
                            <!-- Book Grid -->
                            <div class="row book-grid">
                                <!-- Book Image -->
                                <div class="col-25 book-image">
                                    <div class="image">
                                        <img class="tr_td_img" src="<?php echo $helper->getThumbnailImage($book); ?>" alt="<?php echo $book['book_title']; ?>" width="350" />
                                    </div>
                                </div>
                                <!-- End Book Image -->
                                <!-- Book Details -->
                                <div class="col-75 book-details">
                                    <!-- Book Title -->
                                    <h2 class="bookp"><?php echo __($book['book_title']); ?></h2>
                                    <!-- End Book Title -->
                                    <!-- Book Author -->
                                    <p class="book-author">
                                        <strong><?php echo __("Author"); ?>:</strong><span><?php echo __($book['author_name']); ?></span>
                                    </p>
                                    <!-- End Book Author -->
                                    <!-- Book description -->
                                    <?php
                                    $des_len = strlen($book['description']);
                                    $book['description'] = preg_replace('%<p(.*?)>|</p>%s','',$book['description']);
                                    $description = (strlen($book['description']) > $letter_count) ? substr($book['description'], 0, $letter_count)."..." : $book['description'];
                                    ?>
                                    <div class="bookdec_half_<?php echo $flipbook_content_id; ?>">
                                        <?php echo __($description); ?>
                                    </div>
                                    <div class="bookdec_full_<?php echo $flipbook_content_id; ?>" style="display: none;">
                                        <?php echo __($book['description']); ?>   
                                    </div>
                                    <?php if($des_len > $letter_count){ ?>
                                    <div class="btn-container">
                                        <button id="toggle_<?php echo $flipbook_content_id; ?>"><?php echo __("Read More"); ?></button>
                                    </div>
                                    <?php } ?>
                                    <!-- End Book Description -->
                                </div>
                                <!-- End Book Details -->
                            </div>
                            <!-- End Book Grid -->
                        </div>
						</a>
                    </div>  
                    <!-- End Book container -->
            <?php if($des_len > $letter_count){ ?>
            <script type="text/javascript">
            require(['jquery'], 
                function ($) {
                'use strict'
                $(document).ready(function() {
                      var flipbook_id = "<?php echo $flipbook_content_id; ?>";
                      $("#toggle_"+flipbook_id).click(function(event) {
                        event.stopPropagation();
                        var elem = $("#toggle_"+flipbook_id).text();
                        if (elem == "Read More") {
                          $("#toggle_"+flipbook_id).text("Read Less");
                          $(".bookdec_half_"+flipbook_id).hide();
                          $(".bookdec_full_"+flipbook_id).show();
                        } else {
                          $("#toggle_"+flipbook_id).text("Read More");
                          $(".bookdec_half_"+flipbook_id).show();
                          $(".bookdec_full_"+flipbook_id).hide();
                        }
                      });
                    });
                });   
            </script>
            <?php } ?>
                <?php endif; ?>
            <?php endif; ?>
        <?php } ?>
    </div>
</div>
<script type="text/javascript">
    require(['jquery','Magento_Ui/js/modal/modal'],
            function ($, modal) {
                var options = {
                    type: 'popup',
                    modalClass: 'modal-popup',
                    responsive: true,
                    innerScroll: true,
                    clickableOverlay: true,
                    title: 'Flipbooks',
                    buttons: []
                };
                var mgsPopup = modal(options, $('#mgfb-popup'));
                $('#getFlipbooksPopup').click(function () {
                    $('#mgfb-popup').trigger('openModal');
                });
            });
</script>
<?php } ?>