<?php
$product = $block->getCurrentProduct();
$product_id = $product->getId();
$productbooks = $block->getProductBook($product_id);
$booksData = $block->getBooksForProduct($productbooks);
$type = 3;
$helper = $this->helper('Magebees\Flipbook\Helper\Data');
$getCountsofbook = $helper->getCountsofbook($booksData, $type);
$mediaUrl = $helper->getMediaUrl();
$baseUrl = $helper->getBaseUrl();
$isEnabled = $helper->isEnabled();
if (!$isEnabled)
    return;
?>
<?php if (count($getCountsofbook)) { ?>
    <div class="table-div flipbook-table">
        <table class="custom_block_table mb-flipbook-Pd-table">
            <thead>
            <tr class="custom_table_tr">
                <th class="flipbook_list_header custom_table_td_header"><?php echo __(''); ?></th>
                <th class="flipbook_list_header custom_table_td_header"><?php echo __('Book Name'); ?></th>
				<th class="flipbook_list_header custom_table_td_header"><?php echo __('Author Name'); ?></th>
            </tr>
            </thead>
            <tbody class="flipbook_tbody">
                <?php foreach ($booksData as $key => $book) { ?>
                    <?php
                    $unique_key = $helper->getUniqueSliderKey();
                    $flipbook_content_id = "cwsflipbook_" . $unique_key;
                    $isDateCondition = $helper->isDateConditionCheck($book);
                    $status = $book['status'];
                    $add_to_product = $book['add_product'];
                    $add_product_pos = explode(",",$book['position_on_product_page']);
                    $mode_of_upload = $book['mode_of_upload'];

                    if ($mode_of_upload == '2') {
                        $uploadImages = $helper->getUploadedImages($book);
                    }
                    if ($isDateCondition):
                        //if ($status && $add_to_product && ($add_product_pos == '3')):
						if ($status && $add_to_product && (in_array("3", $add_product_pos))):
                            ?>
                            <tr class="custom_table_tr" id="<?php echo $flipbook_content_id; ?>" data-href='<?php echo $baseUrl.'flipbook/index/view/bookid/'.	$book['book_id'] ?>'>
                                <td class="custom_table_td">
                                    <img class="tr_td_img" src="<?php echo $helper->getThumbnailImage($book); ?>" alt="<?php echo $book['book_title']; ?>" width="100" />
                                </td>
                                <td class="stock_status_align">
                                    <?php echo __($book['book_title']); ?>
                                </td>
                                <!-- <td class="stock_status_align">
                                    <?php //echo __($book['description']); ?>
                                </td> -->
                                <td class="stock_status_align">
                                    <?php echo __($book['author_name']); ?>
                                </td>
                            </tr>
							
							<script type="text/javascript">
							require(['jquery'], function ($) {
								'use strict'
								$(document).ready(function() {
									$("#"+"<?php echo $flipbook_content_id; ?>").click(function() {
										window.location = $(this).data("href");
									});
								});
							});
							</script>
							
                        <?php endif; ?>
                    <?php endif; ?>
            <?php } ?>
            </tbody>
        </table>
    </div>
<?php } ?>