<?php $GroupData = $this->getCurrentBook(); ?>
<?php if(count($GroupData)>1) { ?>
<br><br>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h3 class="icon-head head-edit-form fieldset-legend"><?php echo __('Information'); ?></h3>
    </div>
	<fieldset id="xml-info">
		<?php $GroupInfo = $GroupData['book_id']; ?>
		<p> <?php echo __("You can use below Code Inserts to call the flipbook on a Specific Location.") ?></p>
	</fieldset>
</div>
<br><br>
<div class="entry-edit">
	<div class="entry-edit-head">
		<h3 class="icon-head head-edit-form fieldset-legend"><?php echo __('Template Tag'); ?></h3>
	</div>
	<textarea id="flexslider-template-tag" rows="3" cols="100" onclick="this.focus();this.select()" readonly="readonly">{{block class="Magebees\Flipbook\Block\Flipbookview" template="codeview.phtml" code="<?php echo $GroupInfo; ?>"}}</textarea>
</div>
<br><br>
<div class="entry-edit">
	<div class="entry-edit-head">
		<h3 class="icon-head head-edit-form fieldset-legend"><?php echo __('XML Code'); ?></h3>
	</div>
	<textarea id="flexslider-code" rows="7" cols="100" onclick="this.focus();this.select()" readonly="readonly">
	<referenceContainer name="content">
		<block class="Magebees\Flipbook\Block\Flipbookview" name="flipbook_view<?php echo $GroupInfo; ?>" ifconfig="flipbook/general/enabled" template="codeview.phtml">
			<arguments>
				<argument name="code" xsi:type="string"><?php echo $GroupInfo; ?></argument>
			</arguments>
		</block>
	</referenceContainer>
	</textarea>
</div>
<br><br>
<div class="entry-edit">
<div class="entry-edit-head">
	<h3 class="icon-head head-edit-form fieldset-legend"><?php echo __('Call Via Frontend Template File'); ?></h3>
</div>
<textarea id="flexslider-template-tag" rows="3" cols="100" onclick="this.focus();this.select()" readonly="readonly"><?php echo '<?php echo  $this->getLayout()->createBlock("Magebees\Flipbook\Block\Flipbookview")->setCode('.$GroupInfo.')->setTemplate("codeview.phtml")->toHtml() ?>'; ?></textarea>
</div>
<?php }else{ 
 echo __("No Records Found");
}?>