<script>
require(['prototype'], function(){
    var flipbook_images;
    flipbook_images = {
        index : 0,
		savedvalues: {},        
        add : function (savedvalues) {
            this.index++;
            var data = {index:this.index};
            Element.insert($('flipbook_image_row_container'), {
                bottom: this.template({
                    data: data
                })
            });
        },
		findElementObject: function (key, index) {
			return $('flipbook_image_'+ key + index);
		},
		deleteRow : function(event) {
            var row = Event.findElement(event, 'tr');
            if (row) {
                row.parentNode.removeChild(row);
            }
        },
    };
    window.flipbook_images = flipbook_images;
});
</script>
<script type="text/javascript">
    require(["jquery"],function($) {
        $(document).ready(function() {
        	var flipbookUploded;
        	flipbookUploded = {
        		deleteRowUploded : function(event,imageid) {
        			var row = Event.findElement(event, 'tr');
            		var imageId = imageid;
		            if (row) {
		                row.parentNode.removeChild(row);
            			var customurl = "<?php  echo $block->getUrl('flipbook/book/imagedelete'); ?>";
					    $.ajax({
			                url: customurl,
			                type: 'POST',
			                dataType: 'json',
			                data: { imageId: imageId },
							complete: function(response) {             
			             		if(response.responseJSON.status){
			             			$(".img_del_tr").show();	
			             		}   
			                },
			                error: function (xhr, status, errorThrown) {
			                    console.log('Error happens. Try again.');
			                }
			            });
		            }
        		}
        	};
        	window.flipbookUploded = flipbookUploded;
        });
    });
</script>
<?php 
$mode = $block->getSelectedMode();
$mediaUrl = $block->getMediaUrl();
$bookData = $block->getBookdata();
?>
<body>
	<div class="entry-edit form-inline">
    <fieldset class="fieldset admin__fieldset " id="mb-flipbook_image_fieldset">
		<legend class="admin__legend legend">
			<span><?php echo __("Mode of Upload Book Details (PDF/Images)"); ?></span>
		</legend>
		</br>
		<div class="messages">
        </div>
		<div class="admin__field field field-mode-upload  required _required">
            <label class="label admin__field-label" for="mode-upload" style="width: 190px;">
            	<span><?php echo __("Select Mode of Upload"); ?></span>
            </label>
            <div class="admin__field-control control">
                <select id="mode_upload" name="mode_of_upload" title="Select mode of upload" class=" required-entry _required select admin__control-select mode_upload" aria-required="true">
				<option value="0"><?php echo __("Please Select"); ?></option>
				<option value="1"><?php echo __("PDF File"); ?></option>
				<option value="2"><?php echo __("Book Images"); ?></option>
				</select>
            </div>
        </div>
        <div class="admin__field field field-book_pdf  required _required with-note book_pdf_file" <?php if($mode !== '1') echo"style='display: none;'"; ?>>
            <label class="label admin__field-label" for="book_pdf" style="width: 190px;">
            	<span><?php echo __("Book PDF"); ?></span>
            </label>
            <div class="admin__field-control control">
                <?php $uploded_pdf = $block->getPdfUploded(); ?>
                <input id="book_pdf" name="book_pdf" accept="application/pdf" title="Book Pdf" type="file" aria-required="true" value="<?=$block->getPdfUploded();?>" style="padding: 5px 0px !important;">
                <?php if($mode =='1' && isset($mode) && !empty($uploded_pdf)){ ?>
                </br>
                <span>
                	<a href="<?=$block->getPdfUploded();?>">
                		<img style="width: 4%;" src="<?php echo $this->getViewFileUrl('Magebees_Flipbook/images/mage-pdf-icon.png'); ?>">
                	</a>	
                <?php } ?>
       			</span>
                <div class="note admin__field-note" id="book_pdf_note"><?php echo __("PDF format only."); ?></div>            
            </div>
        </div>
        <div class="book_image_type">
	        <div class="admin__field field field-cover_book required _required">
	            <label class="label admin__field-label" for="cover_book"><span><?php echo __("Book Cover Page Image"); ?></span></label>
	            <div class="admin__field-control control">
	            	<?php if($block->getRequest()->getParam('id') && $mode =='2' && !empty($bookData->getCoverBook())): ?>
	                <a href="<?php echo $block->getflipbook_image_cover();?>" onclick="imagePreview('cover_book'); return false;" ><img src="<?php echo $block->getflipbook_image_cover();?>" id="cover_book"height="30" width="30" class="small-image-preview v-middle">
	                </a> 
	               	<?php endif; ?>
	                <input id="cover_book" name="cover_book"  accept="image/*" value="" title="Book Cover Page" type="file" class="input-file <?php if(empty($bookData->getCoverBook())) echo"required-entry _required"; ?>" aria-required="true" value="<?=$block->getflipbook_image_cover();?>">                            
	            <div class="note admin__field-note" id="cover_book-note"><?php echo __("Allowed file types: jpg, jpeg, png, gif"); ?></div>
	            </div>
	        </div>
	        <div class="admin__field field field-last_book required _required">
	            <label class="label admin__field-label" for="last_book"><span><?php echo __("Book Last Page Image"); ?></span></label>
	            <div class="admin__field-control control">
	            	<?php if($block->getRequest()->getParam('id') && !empty($bookData->getLastBook()) && $mode =='2'): ?>
	                <a href="<?php echo $block->getflipbook_image_last();?>" onclick="imagePreview('last_book'); return false;" ><img src="<?php echo $block->getflipbook_image_last();?>" id="last_book"height="30" width="30" class="small-image-preview v-middle">
	                </a> 
	                <?php endif; ?>
	                <input id="last_book" name="last_book" value="" accept="image/*" title="Book Last Page" type="file" class="input-file <?php if(empty($bookData->getLastBook())) echo"required-entry _required"; ?>" aria-required="true" value="<?=$block->getflipbook_image_last();?>" >                            
	            <div class="note admin__field-note" id="last_book-note"><?php echo __("Allowed file types: jpg, jpeg, png, gif"); ?></div>
	            </div>
	        </div>
    	</div>
		<?php $uploaded_image = $block->getImagesData(); 
		if(count($uploaded_image) > 0){ ?>    	
    	<div class="uploaded_image_div">
	    	<div class="entry-edit form-inline">
		    <fieldset class="fieldset admin__fieldset " id="mb-flipbook_image_fieldset_uploaded">
				<legend class="admin__legend legend">
					<span><?php echo __("Uploaded Book Images"); ?></span>
				</legend>
				<br/>
			 	<div class="img_del_tr" style="display: none;" id="messages"><div class="messages"><div class="message message-success success"><div data-ui-id="messages-message-success"><?php echo __("Image deleted successfully"); ?></div></div></div></div>
				<div class="admin__control-table-wrapper" >
					<table class="admin__control-table" id="flipbook_image_table">
						<thead>
							<tr>
								<th class="col-template"><?= /* @escapeNotVerified */ __('Image') ?></th>
								<th class="col-discount"><?= /* @escapeNotVerified */ __('Sort Order') ?></th>
								<th class="col-discount"><?= /* @escapeNotVerified */ __('Notes') ?></th>
								<th class="col-delete"><?= /* @escapeNotVerified */ __('Action') ?></th>
							</tr>
						</thead>
						<tbody id="flipbook_image_row_container_new">
							<?php $uploaded_image = $block->getImagesData(); 
							if(count($uploaded_image) > 0){
							foreach ($uploaded_image as $img) { ?>
							<tr>
						        <td class="col-template">
						        	<a href="<?php echo $img->getImage();?>" id="flipbook_book_image_preview[<?php echo $img->getImageId();?>]" onclick="imagePreview('flipbook_book_image_preview_img[<?php echo $img->getImageId();?>]'); return false;" >
						        		<img src="<?php echo $img->getImage();?>" height="100" width="100" class="small-image-preview v-middle" name="flipbook_book_image_preview_img[<?php echo $img->getImageId();?>]"
									   id="flipbook_book_image_preview_img[<?php echo $img->getImageId();?>]" >
							        </a>
							        <input type="hidden" name="image_id[]" value="<?php echo $img->getImageId();?>">         
						        </td>
						        <td class="col-sort-order">
						        	<input class="input-text admin__control-text validate-zero-or-greater"
									   type="text"
									   name="uploaded_image_sort_order[]"
									   id="uploaded_image_sort_order"
									   style="width: 90%;"
									   value="<?php echo $img->getSortOrder();?>"
									   />
						        </td>
						        <td class="col-notes">
						        	<input class="input-text admin__control-text"
									   type="text"
									   name="uploaded_image_notes[]"
									   id="uploaded_image_notes"
									   value="<?php echo $img->getNotes();?>"
									   style="width: 90%;"
									   />
						        </td>
						        <td class="col-delete">
						        	<button type="button" class="action-default action-delete" onclick="flipbookUploded.deleteRowUploded(event,<?php echo $img->getImageId();?>);return false">
	                				<span><?= /* @escapeNotVerified */ __('Delete') ?></span>
						            </button>
						        </td>
						    </tr>
						<?php }} ?>
						</tbody>
						<tfoot>
					</tfoot>
					</table>
				</div>
			</fieldset>
			</div>
		</div>
	<?php } ?>
	</fieldset>
	</div>	
</body>

<script id="flipbook_image_row_template" type="text/x-magento-template">
	<tr>
        <td class="col-template"> 
           <input class="input-text admin__control-text book_image"
			   type="file"
			   accept="image/*"
			   name="flipbook_image_book_image[<%- data.index %>]"
			   id="flipbook_image_book_image<%- data.index %>"
			   
			   style="width: 80%;"
			   />
			<div class="note admin__field-note" id="_book-note">Allowed file types : jpg, jpeg, png, gif.</div>
        </td>
        <td class="col-sort-order">
        	<input class="input-text admin__control-text book_image validate-zero-or-greater"
			   type="text"
			   name="flipbook_image[<%- data.index %>][sort_order]"
			   id="flipbook_image_sort_order<%- data.index %>"
			   value=""
			   style="width: 90%;"
			   
			   />
        </td>
        <td class="col-notes">
        	<input class="input-text admin__control-text book_image"
			   type="text"
			   name="flipbook_image[<%- data.index %>][notes]"
			   id="flipbook_image_notes<%- data.index %>"
			   value=""
			   style="width: 90%;"
			   />
        </td>
        <td class="col-delete">
            <button
                type="button"
                class="action-default action-delete"
                onclick="flipbook_images.deleteRow(event);return false">
                <span><?= /* @escapeNotVerified */ __('Delete') ?></span>
            </button>
        </td>
    </tr>
</script>
<div class="flip_img_div">
	<div class="entry-edit form-inline">
	    <fieldset class="fieldset admin__fieldset " id="mb-flipbook_image_fieldset">
			<legend class="admin__legend legend">
				<span><?php echo __("Upload New Images"); ?></span>
			</legend>
			<br/>
		 	<div class="messages"></div>
			<div class="admin__control-table-wrapper">
				<table class="admin__control-table" id="flipbook_image_numbers_table">
					<thead>
						<tr>
							<th class="col-template"><?= /* @escapeNotVerified */ __('Image') ?></th>
							<th class="col-discount"><?= /* @escapeNotVerified */ __('Sort Order') ?></th>
							<th class="col-discount"><?= /* @escapeNotVerified */ __('Notes') ?></th>
							<th class="col-delete"><?= /* @escapeNotVerified */ __('Action') ?></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="6" class="col-actions-add">
								<?= $block->getChildHtml('add_button') ?>
							</td>
						</tr>
					</tfoot>
					<tbody id="flipbook_image_row_container">
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>
</div>	
<script>
require([
	'jquery',
    'mage/template',
    'jquery/ui',
    'prototype'
], function ($,mageTemplate) {
     var modeUpload = document.getElementById('mode_upload');
     <?php if($block->getRequest()->getParam('id')){ ?>
    	var onloadval = <?php echo "$mode";?>;
     	changeModeUpload(onloadval);
     <?php }else{ ?>
     	var onloadval = modeUpload[modeUpload.selectedIndex].value;
     	changeModeUpload(onloadval);
    <?php } ?>
    modeUpload.onchange = function(){
	    var mode_type = modeUpload[modeUpload.selectedIndex].value;
	    changeModeUpload(mode_type);
	}
    function changeModeUpload(val)
    {
	    if(val == '2'){
			$(".flip_img_div").show();
			$(".book_image_type").show();
			$(".uploaded_image_div").show();
			$(".book_pdf_file").hide();
			$("#book_pdf").removeClass("required-entry");
			$("#book_pdf").removeClass("_required");
			$("#last_book").addClass("required-entry");
			$("#last_book").addClass("_required");
			$("#cover_book").addClass("required-entry");
			$("#cover_book").addClass("_required");
		  }else if(val =='1'){
		    $(".flip_img_div").hide();
		    $(".book_image_type").hide();
		    $(".uploaded_image_div").hide();
		    $(".book_pdf_file").show();
		    $("#book_pdf").addClass("required-entry");
		    $("#book_pdf").addClass("_required");
		    $("#last_book").removeClass("required-entry");
		   	$("#last_book").removeClass("_required");
		   	$("#cover_book").removeClass("required-entry");
		   	$("#cover_book").removeClass("_required");
		  }else{
		    $(".flip_img_div").hide();
		    $(".book_pdf_file").hide();
		    $(".book_image_type").hide();
		    $(".uploaded_image_div").hide();
		    /*alert( $('option:selected', this).val() );*/
		  }
	}
    flipbook_images.template = mageTemplate('#flipbook_image_row_template');
	<?php if($block->getRequest()->getParam('id')): ?>
    var mode_upload = <?php echo "$mode";?>;    
    if(mode_upload == '2'){
    	$('#mode_upload').val('2');
    	$('.book_pdf_file').hide();
    	$('book_image_type').show();
    	$('.flip_img_div').show();
    	$(".uploaded_image_div").show();
    	$("#book_pdf").removeClass("required-entry");
		$("#book_pdf").removeClass("_required");
    }else{	
    	$('#mode_upload').val('1');
    	$('.book_pdf_file').show();
    	$('.flip_img_div').hide();
    	$(".book_image_type").hide();
    	$(".uploaded_image_div").hide();
		$("#book_pdf").removeClass("required-entry");
	    $("#book_pdf").removeClass("_required");
    	$("#last_book").removeClass("required-entry");
		$("#last_book").removeClass("_required");
		$("#cover_book").removeClass("required-entry");
		$("#cover_book").removeClass("_required");
    }
	<?php endif; ?>
});
</script>