/*
.mb-flipbook-Pd-table .custom_table_tr .custom_table_td_header { background-color:#f4f4f4; font-size:16px; text-align:center; }
.mb-flipbook-Pd-table .flipbook_tbody { overflow-y:auto; }
table.mb-flipbook-Pd-table { border-spacing:0; width:100%; border:1px solid #ddd; max-height:299px; overflow-y:auto; margin-bottom:20px; }
.mb-flipbook-Pd-table td { border-bottom:1px solid #ddd; width:50%; }
.table-div { overflow-x:auto; }
.custom_block_table { border-spacing:0; width:100%; border:1px solid #ddd; }
.custom_table_td { text-align:left; word-wrap:break-word; }
.mb-flipbook-Pd-table .stock_status_align { font-weight:bold; text-align:center; vertical-align:middle; }
.mb-flipbook-Pd-table .flipbook_name:hover { text-decoration:none; }
.custom_table_tr { transition: box-shadow .25s ease-in-out; cursor: pointer; vertical-align: middle;}
.custom_table_tr:hover {box-shadow: 0 0 7px rgb(0 0 0 / 50%);}
*/

